@charset "utf-8";
/* CSS Document */

/*=============================
===========	颜色定义 ===========
===============================*/
	
	/*---主体色彩
	-------------------------------------------------------------------------------------------*/
	.navBox				{ background:#ff4900;}/*主题色色背景*/
	
	/*---背景
	-------------------------------------------------------------------------------------------*/
	.numBg	,.buyButton ,.sp-yufu
	,.steps-bg
	,.btn-search		{ background:#ff4900; color:#fff;}/*主题色背景元素，字体为白色*/
	
	.num_c { background:#fff; color:#ff4900;}
	
				
	.search	
	,.mainMenu-z		{ background:#FFFFFF;}			/*纯白色背景元素*/
	
	/*鼠标滑过背景换色*/
	.mainMenu-l ul li:hover	{ }
	
	{ background:#ff4900; color:#fff;transition: all 0.3s ease-in 0s;}/*鼠标滑过元素多少时长时显示完元素*/

	/*---外框线、线条
	-------------------------------------------------------------------------------------------*/
	.asideBox ,.user-leftMenu ,.user-rightArea ,.no-result ,.leftBox-f
	,.wzk-cont ,.deal-box
	,.deal-sj-map ,.order-box 
						{ background:#ffffff; border:1px solid #eee;}/*外边框线1px的灰色,白色底*/
		
	.footBot			{ border-top:3px solid #ff4900;}/*页脚上部为3PX主题色线条*/
	.deal-box 
	,.deal-wz-text h3	{ border-bottom:1px solid #eee;}
	.sp-dataBox			{ border:1px solid #EEE; background: #fff;}/*首页商品外边框*/
	.deal-sj-info h2	{ border-left:3px solid #ff4900;}/*底边为2PX深灰色线条*/
	.search
	,.mainMenu-z ,.condition a		{ border:1px solid #ff4900;}	/*外边框线1px的，橘红色*/
	
	.U-r-connter header	{ border-bottom:3px solid #ff4900;}
	
	.sp-Title			{ border-bottom:2px solid #eee;}				
	,.pNum:hover 
	,.Udp:hover 
	,.nextPage:hover
	,.pNum:hover		{ border:1px solid #ff4900; transition: all 0.3s ease-in 0s;}	/*鼠标划入外边框线1px的，橘红色*/	
	.num_c:hover { border:1px solid #ff4900; transition: all 0.3s ease-in 0s;}
	.deal-combo a:hover	{ border:1px solid #ff4900; box-shadow:0 0 0 1px #ff4900; }	/*鼠标划入外边框线2px的，橘红色*/	
	
	/*---非超链接字体色
	-------------------------------------------------------------------------------------------*/
	
	/*白色字体*/
	,.now-pay
	,.now-pay q
	,.now-pay b			{ color:#ffffff;}
	
	/*深灰色字体*/
	.deal-title	 p		{ color:#666666;}
	
	/*主题色*/
	.sp-tag ,q ,strong ,.original-price ,.botTel
	,.sp-tag strong ,.order-prompt b ,.money strong ,.wz-pay-n ,.order-ok span b
	,.original-price b ,.total h3 b
	,.asideBox ul li p strong
	,.total q ,.top-userlogin 
	,.buy_statistics b ,.user-data-wzk span a
	,.buy_statistics span q	{ 
						color:#ff4900;
	}
	
	/*浅灰色*/
	del	{ color:#C9C9C9;}
	
	/*---超链接时颜色
	-------------------------------------------------------------------------------------------*/
	 a					{ color:#333;  text-decoration:none;} /*默认a*/
	 a:hover			{ color:#FF4900;}/*默认a鼠标滑过*/
	.navMenu li a		{ color:#ffffff;}/*白色字体*/
	.mainMenu-l span a	{ color:#999;}
	.navMenu li a:hover { background:#E24000;}/*主题色景下鼠标滑过加深背景色*/
	
	.ban-FenLei li a ,.media-fx a
	,.mainMenu-z a
	,.asideBox h6 a		{ color:#666;line-height:20px;height:40px;overflow: hidden;}/*a链接为深灰色*/
	
		/* 超链接鼠标滑过时字体为：白色 */
		.mainMenu-l span a:hover	{ color:#FF4900;}
		/* 超链接鼠标滑过时字体为：主题色 */
		.mainMenu-z a:hover 
		,.ban-FenLei a:hover		{color:#ff4900;}
	Umenu-area dd a:hover			{ background:#FFE9E0; color:#333;}
	
	/*超链接默认为主题色*/	
	.deal-dz-view a ,.order-data a
	,.deal-wz-text h3 a		{color:#ff4900;}
	/*超链接默认为主题色时鼠标滑过下划线*/	
	.deal-dz-view a:hover 
	,.order-data a:hover	{ text-decoration:underline;}
	
	/*导航菜单*/
	.tlrtext li:hover a		{ color:#FF4900;}
	.topMenu-text a			{ color:#666 !important;}
	.topMenu-text a:hover	{ color:#FF4900 !important;}
		
	/*---按钮
	-------------------------------------------------------------------------------------------*/
	/*主题色按钮-取消使用*/
	.butColor			{ background:#ff4900; border-radius:3px; padding:0.5em 2.5em; color:#FFF; border:none; height: 32px;}
	
	/*主题色按钮*/
	.button				{ background:#ff4900; border-radius:3px; padding:0 0.5em; width:85px; height:32px;color:#FFF; border:none; margin-top: 0.5em; text-align: center;}
	.button2			{margin-left:6px;}
	.button:hover		{ background:#FF6600;}
	
	/*黄色按钮*/
	.yellow				{ background:#FF8604; border-radius:3px; width:85px; height:35px; color:#FFF; border:none; color:#fff; cursor:pointer; display: inline-block; text-align: center; line-height: 35px;}
	.yellow:hover		{ background:#ff4900; color:#fff; transition: all 0.3s ease-in 0s;}
	
	/*灰色按钮*/
	.gray				{background:#cacaca; border-radius:3px; padding:0 0.5em; width:85px; height:32px; color:#FFF; border:none; text-align:center; margin: 0 0.2em;}
	.gray:hover			{ background:#7A7A7A; transition: all 0.3s ease-in 0s;}
	
	/*按钮*/	
	.cartButton			{ background:#ededed; color:#666;}
	.continue-but		{ background:#FA860C; color:#fff;}
	.continue-but:hover	{ background:#FF4900;color:#fff;}
	input[alt="hoverBut"]:hover{ background:#E24000; transition: all 0.3s ease-in 0s;}
	.buttonStyle		{ height:38px;}
	
	/* =========================
		元素尺寸套装定义
	============================ */

	/* 按钮尺寸套装  */
	.buttonS	{ width:65px; height:32px; background:#ff4900; border-radius:3px; color:#FFF; border:none; margin-top: 0.5em;}
	.buttonM	{}
	.buttonL	{}
	.buttonXL	{}
	
	/*加入购物车按钮*/	
	.addCartBut			{
	background:#F8F8F8;
	border-bottom:1px solid #ccc;
	background-image: -moz-linear-gradient(top, #f8f8f8,#eaeaea ); /* Firefox */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #eaeaea)); /* Saf4+, Chrome */ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eaeaea', GradientType='0'); /* IE*/
	color: #FF4900; border:#d4d4d4 1px solid;  
	box-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
	
	}
	.addCartBut:hover{
		background:#eaeaea;
		border-bottom:1px solid #ccc;
		background-image: -moz-linear-gradient(top, #F6F6F6,#f3f3f3); /* Firefox */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F6F6), color-stop(1, #f3f3f3)); /* Saf4+, Chrome */ 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#f3f3f3', GradientType='0'); /* IE*/
	}
	
	/*按钮正在跳转中*/
	.button-in{ background:#ccc; color: #666; border: none; cursor: default !important; border-radius:3px; width: 100%; height: 3em; margin-top: 0.5em;}
				
	.button-in:hover{ background: #ccc!important;}
	/*---色块
	-------------------------------------------------------------------------------------------*/
	.orange		   		{ background:#F37464;}
	.blue				{ background:#5BB3D7;}
	
	/*---头部页脚
	-------------------------------------------------------------------------------------------*/
	.headTopBox			{ border-bottom:1px solid #eee; background:#fff; }
	.footBox			{ background:#fff; float:left; clear:both; }
	.bot-info li a		{ color:#666;}
	.botTel ul li i		{ color:#FF4900;}
	
	/*导航*/
	.nav-tit-all 		{ background:#E24000; color:#fff;}
	.mainMenu-l			{ border:2px solid #E24000; color:#fff; background:#FFF;}
	/*---侧边
	-------------------------------------------------------------------------------------------*/
	.asideTwxt-sp p	,
	.asideTwxt-sp span	{ color:#999;}
	.asideTwxt-sp span i{ color:#FF4900;}
	
	/*---商品
	-------------------------------------------------------------------------------------------*/
	.sp-info span		{ color:#666666;}
	.m-tuan				{ background-color:rgba(0,156,88,1);}/*商品标签某团价背景色*/
	
	.sp-info span:hover
	,.sp-info h3:hover	{ color:#333;}
	
	/* ---点击选择
	---------------------------------------------------------------------------------- */
	.selected-bg{ background:#E24000; color:#fff;}
	.Umenu-area-current{ background:#FFF4EF; border-left: 3px solid #FF4900;}
	.Umenu-area-current a { color: #FF4900;}
	.selected-bg a{color:#fff;}
	
	
	
	