@charset "utf-8";
/* CSS Document */

/* =========================
		   框架结构
============================ */

	/* 主体结构、骨架 */
	#ContainerBox			{ width:100%;}/* 框架整区域*/
	#headTop				{ width:100%; height:140px; }/* 头部 */
	#leftSubject			{ width:80.83333333%; float:left; height:auto; position:relative;} /* W845px 框架左边内容区域 原79%; 现970px*/
	#rightSide				{ width:215px; float:right;height:auto;}/* W240px 框架右侧边板块*/
	#footBot				{ width:100%; float:left; margin-top:30px; clear:both;}/* 框架页脚外边框 */
	
	.leftSubject			{ width:80.83333333%; float:left; height:auto; overflow: hidden;} /* W845px 框架左边内容区域*/
	.rightSide				{ width:215px; float:right;height:auto;}/* W240px 框架右侧边板块*/
	.contentBody			{ width:1200px; margin:auto;}/* 框架内容区域W1100px*/
	/* 头部页脚 */
	.headTopBox				{ width:100%; height:35px;}
	.footBox				{ width:100%; height:auto;}
	.headCont				{ width:100%; float:left;}
	.TopLogo				{ width:200px; float:left;}
	.search-text			{ width:75%;}
	.btn-search				{ width:20%;}
	.navBox					{ width:100%;height:40px;}
	
	/*基础元素*/
	.deal-sj-info			{ width:98%; padding: 1%}
	.deal-sj-map			{ width:37.9%; height:260px;}/*W320px*/
	
	/*导航*/
	.navMenu				{ width:75%; display: inline-table; margin-right: 1px;}
	.navMenu-all		    { width:20%; float:left;}
	.nav-tit-all			{ width:100%; display:block;}
	.siteBannerBox			{ width:80%; height:415px;}
	.site-middle			{ width:76.04166667%; }/*W730px*/
	.site-r-wzk				{ width:22.39583333%;}/*W215px*/
	
	.user-leftMenu			{ width:17%; display:inline-table; float: left; margin-right: 1.5em;}
	.user-rightArea			{ width:80%; display:inline-table; float: left;}

	/*横幅*/
	#flash ,#flashLine
	,#flash a 				{ height:382px;}
	
	/*按钮Button*/
	.buyButton				{ width:40%;}
	.cartButton				{ width:55%;}
	
	/*登录注册*/
	.loginWit				{ max-width:1000px;}
	
	/* 商品 */
	.asideTwxt-sp span		{ width:100%;}
	.sp-dataBox				{ width:30.92783505%; height:355px; float:left;}/*W300px*/
	tailThree				{ margin-right:0;}
	.sp-Text				{ width:100%; height:}
	.sp-zxTag				{ width:90px;}
	/* 清除浮动 */
	.clearD					{clear: both;display: block;overflow: hidden;visibility: hidden; width: 0; height: 0;}
	
	.deal-introduce-img		{ width:47.42268041%; height:330px; display:block; float:left; overflow:hidden;text-align: center;}/*W460px*/
	.deal-introduce-info	{ width:51.03092784%; float:right;}/*W495px*/
	
	.wzh-merchants			{ width:100%; margin:auto;}
	
	.wzk-Payment-right		{ width:75.4%; float:right;}/*W900px*/
	
	
	
	/* -----媒体查询
	-------------------------------------------------------------------------------------------------------------- */
	@media screen and (max-width: 1350px) {
		.site-left-menu{ display:none;}
		.site-qrCode{ display:none;}
		}
	@media screen and (max-width: 1024px) {
			/* 主体结构、骨架 */
	#ContainerBox			{ width:100%;}/* 框架整区域*/
	#headTop				{ width:100%; height:140px; }/* 头部 */
	#leftSubject			{ width:80.83333333%; float:left; height:auto; position:relative; padding: 0.5%;} /* W845px 框架左边内容区域 原79%; 现790px/1024*/
	.leftSubject			{ width:80.83333333%; float:left; height:auto;padding: 0.5%;} /* W845px 框架左边内容区域*/
	#rightSide				{ width:215px; float:right;height:auto;}/* W240px 框架右侧边板块*/
	#footBot				{ width:100%; float:left; margin-top:30px; clear:both;}/* 框架页脚外边框 */
	
	.rightSide				{ width:215px; float:right;height:auto;}/* W215px 框架右侧边板块*/
	.contentBody			{ max-width:1200px; margin:auto;}/* 框架内容区域W1100px*/
	
	/* 商品 */
	.sp-dataBox				{ width:30.47919242%; height:355px; float:left;}/*W234px*/
	.search					{ width: 45%;}
	.wzh-head ul			{ width: 50.48828125%; }
	.wzh-head ul li a		{ padding: 0.5em 0.8em;}
	.wzh-shangj-p li		{ width: 47.1%;}
	}
	
	
	@media screen and (max-width: 768px) {
		.leftSubject ,#leftSubject	{ width:100%; float:left; height:auto;} /* W845px 框架左边内容区域*/
		.rightSide	,#rightSide		{ display: none;}/* W215px 框架右侧边板块*/
		.flash-top-b				{ width: 22%;}
		.search						{ margin-left:2%;}
	}
	
	@media screen and (max-width: 320px) {}
	
	
	.ensure					{ width:200px;}