@charset "utf-8";
/* 五洲框架以外自定义组件内容 */

/*全局*/
.wzh-container{ width:1200px; margin:auto;}
ul,li{ list-style-type:none; padding:0; margin:0;}

q::before, q::after {
	content: none;
}


/*顶部栏*/
.wzh-header-topMenu{ display:inline-block; padding: 0px 0px 8px 0px; background:#F7F7F7; border-bottom:1px solid #e1e1e1; width:100%;}
.wzh-header-top-l{ display:inline-block;}
.wzh-header-top-r{ float:right; width:70%;}
.wzh-header-top-r li{ display:inline; display:inline-block;}

/*主导航*/
.whz-mainNav{ margin-top:20px; display:inline-block; width:100%; border-bottom:2px solid #F66B45;}
.whz-mainNav-hd{width:230px; float:left; position:relative;}
.wzh-mainNav-tit{ background:#F66B45 url(../images/menuFx-d.png) no-repeat center; color:#fff;width:100%;  height:50px; display:block; text-align:center; line-height:50px; font-size:18px; cursor:pointer; background-position:82% 50%}
.whz-mainNav-hd-cont{ width:100%; background:#555; position:absolute; z-index:55; display:none;}
.whz-mainNav-hd-cont ul li{  border-bottom:1px solid #474747;}
.whz-mainNav-hd-cont ul li a{ color:#fff; display:block; background:url(../images/menuFx-r.png) no-repeat; background-position:95% 50%; text-align:left; padding-left:35px; font-size:16px;}
.whz-mainNav-hd-cont ul li:hover a{ background:#FFF; color:#F66B45;}
.whz-mainNav-menu{ float:left; margin-left:30px !important; margin-top:15px !important;}
.whz-mainNav-menu li{ display:inline; display:inline-block;}
.whz-mainNav-menu li a{ color:#333; font-size:16px; margin:0 20px;}

.wzh-mainNav-three{ position:absolute; left:230px; width:300px; background:#fff; height:99%; top:2px; padding:0 20px; display:none; box-shadow: 0 0 2px #e1e1e1;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#e1e1e1', Direction=135, Strength=2);/*for ie6,7,8*/
-moz-box-shadow:0 0 2px #e1e1e1;/*firefox*/
-webkit-box-shadow:0 0 2px #e1e1e1;/*webkit*/
background: #fff;
}
.wzh-mainNav-three li{ border:none !important;}
.wzh-mainNav-three li a{ color:#999 !important; display:inline !important; float:left !important; padding:0 !important; margin:10px 15px 0 0 !important; display:block; height:26px; font-size:14px !important; line-height:24px;}
.wzh-mainNav-three h4{ color:#333; text-align:left; border-bottom:1px dotted #e1e1e1; padding-bottom:8px; display:inline-block; width:100%; margin:0;}
.whz-mainNav-hd-cont ul li:hover .wzh-mainNav-three{ display:block;}

/*横幅区域*/
.wzh-banner{ width:100%; display:inline-block; float:left;}
.wzh-banner-l{ width:955px; height:350px; display:block; overflow:hidden; float:left;}
.wzh-banner-r{ float:right; width:230px; overflow: hidden;}
.wzh-banner-r-info1,.wzh-banner-r-info2{ height:140px; background:#F2F2F2; text-align:center; color:#F86A47;padding:15px;}
.wzh-banner-r-info2{ margin-top:12px; text-align:left; }
.wzh-banner-r-info2 h3{ margin:0; display:inline-block;}
.wzh-banner-r-info2 p{ margin: 0;}

.wzh-btn-downloadApp{ background:#12AC96; color:#fff !important; width:168px; padding:8px 0; display:block; margin:auto; border-radius:5px; text-align:center; margin-top:40px;}
.wzh-btn-downloadApp:hover{ color:#fff; text-decoration:none;}
.wzh-btn-downloadApp:hover .right1{ transform:translateX(-30px); float:right;
		-webkit-transform:translateX(-30px); transition:all 1s ease;}
		.item img{ width: 100%;}

/*活动板块区域*/

.wzh-activity{ margin:20px 0;}
.wzh-activity ul li{ display:inline-block; display:block; float:left;}
.wzh-activity-middle{ margin:0 7px;}

.wzh-business-box{ display:inline-block; width:100%; margin-top:35px;}
.wzh-business-Img{width:100%;  overflow:hidden; padding-top:15px; }
.wzh-business-Img li{width:235px; height:160px; float:left; margin-right:5px; margin-bottom:5px; cursor:pointer;}

.wzh-floor-box{ display:inline-block; width:100%;}
.wzh-floor-box-tit{background:url(../images/floor-tit.jpg) no-repeat; height:35px; width:100%; display:inline-block; margin:30px 0;}

.wzh-floor-box-f{ border:1px solid #e1e1e1; height:414px; overflow:hidden; display:inline-block; width:100%; margin-bottom:50px;}
.wzh-floor-box-1F-leftMenu{ width:240px;height:414px; position:relative; float:left; border-right: 1px solid #e1e1e1;}
.wzh-floor-MenuTit{ width:100%; height:95px; font-size:2em; color:#fff;}
.floorNum{ width:65px; height:65px; display:block; border-radius:50%; background:#fff; text-align:center; line-height:65px;   margin:15px; display:inline-block; font-size: 1.8rem; }

/*楼层颜色*/
.bgColor-1f{ background:#F66B45;}
.bgColor-2f{ background:#02AFC6;}
.bgColor-3f{ background:#A04A4B;}
.bgColor-4f{ background:#49C0E5;}
.bgColor-5f{ background:#EF5D90;}
.bgColor-6f{ background:#559B4D;}

.floorNum1-col{ color:#F66B45;}
.floorNum2-col{ color:#02AFC6;}
.floorNum3-col{ color:#A04A4B;}
.floorNum4-col{ color:#49C0E5;}
.floorNum5-col{ color:#EF5D90;}
.floorNum6-col{ color:#559B4D;}

.wzh-floor-leftNav{ padding:15px;}
.wzh-floor-leftNav li a{ float:left; display:inline-block; display:inline; width:33%; color:#999; margin-bottom:10px;display:block; word-break:keep-all; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
.wzh-floor-leftNav-more{ display:block; position:absolute; bottom:0; text-align:center; width:100%; padding:15px 0;}

.wzh-floor-box-F-merc{ display:inline-block; display:inline; width:959px; float:left; height:100%; }
.wzh-floor-merchants li{ width:20%; height:192px; text-align:center; box-shadow:1px 1px 0px #e1e1e1;filter: progid:DXImageTransform.Microsoft.Shadow(color='#e1e1e1', Direction=135, Strength=5);/*for ie6,7,8*/
-moz-box-shadow:1px 1px 0px #e1e1e1;/*firefox*/
-webkit-box-shadow:1px 1px 0px #e1e1e1;/*webkit*/  padding-top:15px; display:inline; display:inline-table; float:left;}
.wzh-floor-merchants li div:hover{left:-30px;
	transform:scale(1.05);
	transition:all 1S ease-in-out;	
	-o-transition:all 1S ease-in-out;
	-webkit-transition:all 1S ease-in-out;	
	-moz-transition:all 1S ease-in-out;	
	-ms-transition:all 1S ease-in-out;	}
.wzh-floor-merchants li a{ border-radius:100%; display:block; width:130px; height:130px; margin:auto; overflow:hidden;}
.wzh-floor-merchants li a img{ border-radius:100%; width:130px; height:130px;}
.wzh-floor-name{ text-align:center;  display:block; width:180px;word-break:keep-all; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;margin: auto;margin-top:10px;}

/*页脚*/
.wzh-footer{ width:100%; background:#F66B45; color:#fff; text-align:center; padding:45px 0;}
.wzh-footer ul li{ display:inline; display:inline-block; margin:0 30px;}
.wzh-footer ul li a{ color:#fff;}
.wzh-footer p{ margin-top:30px;}